:root {
    --main-color: #1DBEB4;
    --dark-color: #383B58;
    --medium-color: #545776;
    --light-medium-color: #ECECEF;;
    --light-gray-color: #f9f9f9;
    --light-color: #ffffff;
 
    --main-font-family: 'Roboto', sans-serif;
    /*icon*/
    --font-size-icon:24px;
    /* h1 */
    --font-size-1: 24px;

    /* h2 */
    --font-size-2: 20px;

    /* h3 y Botton2 */
    --font-size-3: 16px;

    /* h4, Botton1, Text1 */
    --font-size-4: 14px;

    /* Text2 */
    --font-size-5: 12px;

    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: var(--light-color);
    color: var(--dark-color);
    font-family: var(--main-font-family);
    font-size: var(--font-weight-medium);
    
}

input{
    height: 40px;
    width:300px;
    color: var(--medium-color);
    border-radius: 5px; 
    border : 1px solid var(--medium-color); 
    padding: 10px;
}

hr{
    border: 1px solid var(--main-color);
    margin: 10px 0;
}

.content{
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    padding: 60px 50px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    flex-direction: column;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh; 
} 

input{
    width: 100%;
    height: 40px;
    border-radius: 5px; 
    border : 1px solid var(--medium-color); 
    font-size: var(--font-size-4);
}

h2 {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-medium);
    color: var(--main-color);
    margin-bottom: 20px;
}

.ocultar{
    display: none;
}

  
/*--- ANIMACIONES ---*/
.animation-button-filled{
    /* transition: background-color .6s;      */
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.0);
    transition: box-shadow 500ms; 
    cursor:pointer;
}
.animation-button-filled:hover {
    background-color: #1bb6ac;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    cursor:hand;
  }
.animation-button-filled:active{
    background-color: #1aa59c;
}

.animation-button-light{
    transition: background-color .6s; 
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.0);
}
.animation-button-light:hover{    
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}


.bg-animation-card{
box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
transition: box-shadow 500ms;    
}
.bg-animation-card:hover{
box-shadow: 0 0px 15px 3px rgba(0, 0, 0, 0.2);
}
.category-card{
    cursor:pointer;
}
.category-card:hover{
    cursor:hand;
}
/* -------------------------- */

  @media (min-width: 761px) and (max-width: 1360px)  {
    
   
  }
  

  @media (min-width:1361px) {
       
  }